header{
    display: flex;
    justify-content: space-between;
    width:100vw;
}
.
span{
    display: flex;
    height: 2px;
    width: 100%;
    background-color: black;
    margin: 1px;
}
.nav-menu-hamburguer{
    align-items: center;
    justify-content: space-between;
    display: none;

}
.menu-hamburguer{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    justify-content: center;
}

.navaparece{
    display: flex;
}